.mic-icon {
  margin-left: 20px;
}

.mic-icon {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.mic-icon.listening {
  transform: scale(1.2);
  filter: brightness(0.2);
  filter: invert(24%) sepia(61%) saturate(3018%) hue-rotate(350deg)
    brightness(94%) contrast(92%);
}
